In [1]:
import pandas as pd

In [2]:
# API Docs
import dotenv, os
from dune_client.types import QueryParameter
from dune_client.client import DuneClient
from dune_client.query import QueryBase

# POST /v1/query/{query_id}/execute

# GET /v1/execution/{execution_id}/results

In [3]:
# change the current working directory where .env file lives
os.chdir("/Users/Stephanie/Desktop/Folder/Analytics/eth_etf")
# load .env file
dotenv.load_dotenv("api_key.env")
# setup Dune Python client
dune = DuneClient.from_env()

SWAPS BY DATE

In [5]:
requested_date = "2024-05-20"
query = QueryBase(
    query_id=3767801,
      params=[
        QueryParameter.text_type(name="date_parameter", value=requested_date),
    ],
)

query_result = dune.run_query_dataframe(
  query=query
)

2024-05-26 17:44:31,225 INFO dune_client.api.base executing 3767801 on medium cluster
2024-05-26 17:44:31,766 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.PENDING (queue position: 1)
2024-05-26 17:44:33,054 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:34,386 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:35,657 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:36,921 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:38,106 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:39,259 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:40,433 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:41,566 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:42,709 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING
2024-05-26 17:44:44,012 INFO dune_client.api.base waiting for query execution 01HYVH7B1Y8XGMEKEBC897S6D8 to complete: ExecutionState.EXECUTING

In [6]:
may_20_df = pd.DataFrame(query_result)
may_20_df['Total USD'] = pd.to_numeric(may_20_df['Total USD'], errors='coerce').fillna(0).astype(float).astype('int64')
may_20_df

     token_bought_symbol   Total USD
0                   WETH  4853837606
1                   USDC  1912623889
2                   USDT  1426194196
3                   WBTC   539018387
4                   USDe   283575301
...                  ...         ...
1065               μϾ721           0
1066                HOME           0
1067                DOGE           0
1068                DUST           0
1069               FOFAR           0

[1070 rows x 2 columns]

In [7]:
requested_date = "2024-05-19"
query = QueryBase(
    query_id=3767801,
      params=[
        QueryParameter.text_type(name="date_parameter", value=requested_date),
    ],
)

query_result = dune.run_query_dataframe(
  query=query
)

2024-05-26 17:44:54,649 INFO dune_client.api.base executing 3767801 on medium cluster
2024-05-26 17:44:55,317 INFO dune_client.api.base waiting for query execution 01HYVH81XZFK2HB89198SJXE0T to complete: ExecutionState.PENDING (queue position: 1)

In [8]:
may_19_df = pd.DataFrame(query_result)
may_19_df['Total USD'] = pd.to_numeric(may_19_df['Total USD'], errors='coerce').fillna(0).astype(float).astype('int64')
may_19_df

    token_bought_symbol   Total USD
0                  WETH  1608726665
1                  USDC   783929095
2                  USDT   777504831
3                wstETH   206971489
4                  WBTC   165243880
..                  ...         ...
993                 KOK           0
994                Mika           0
995                 WIF           0
996                 sF9           0
997               dDAO9           0

[998 rows x 2 columns]